body {
    background-image: url(../background/backgrounddive2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: Andale Mono, monospace;
    color: rgb(106, 173, 173);
}

a {
    color: inherit;
}

footer {
    background-color: rgb(19,36,67);
    height: 200px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: auto;
}

div#index_top {
    font-family: FreeMono, monospace;
    font-size: 22px;
    font-weight: lighter;
    color: rgb(106, 173, 173);
    background-color: rgb(19,36,67);
    height: 30px;
    width: 100%;
    position: sticky;
    top: 0px;
    bottom: auto;
    left: 0px;
    right: 0px;
}



h1 {
    font-family: DejaVu Sans Mono, monospace;
    color: rgb(106, 173, 173);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-family: DejaVu Sans Mono, monospace;
    color: rgb(106, 173, 173);
    text-align: center;
    font-size: 30px;
}

h2#exp_title {
    font-family: DejaVu Sans Mono, monospace
    font-size: 40px;
    font-weight: bold;
}

ul#exp_lists {
    list-style-type: square;
}

ul#index {
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    list-style-type:none;
}

img#contact_icon {
    height: 128px;
    width: 128px;
}

img#title_image {
    height: 25%;
    width: 25%;
    text-align: center;
}