body {
    background-image: url(../background/backgrounddive2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    color: darkblue;
    text-align: center;
    font-size: 20px;
}



img#contact_icon {
    height: 128px;
    width: 128px;
}

img#title_image {
    height: 50%;
    width: 50%;
    text-align: center;
}