body {
    background-image: url(../background/backgrounddive2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    font-family: OCR A Std, monospace;
}

footer {
    background-color: azure;
}

h1 {
    font-family: impact, fantasy;
    color: lightblue;
    text-align: center;
    font-size: 40px;
}

ul {
    list-style-type: none;
    display: inline-table;
}

img#contact_icon {
    height: 128px;
    width: 128px;
}

img#title_image {
    height: 25%;
    width: 25%;
    text-align: center;
}